PORT=3000
SUPABASE_URL=https://uyiwwtmkknjcoorgofuv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_bhr8HOkITmKL5KkdTXvSiA_a11__dP4
SESSION_SECRET=une_phrase_secrete_longueccccc
EMAIL_USER=votre_email_gmail
EMAIL_PASS=votre_mot_de_passe_app
