PORT=3000
SUPABASE_URL=votre_url_supabase
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5aXd3dG1ra25qY29vcmdvZnV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MDc3NDUsImV4cCI6MjA5MjM4Mzc0NX0.mAzwYFCPfuQpzxW3vWYg7z0Q4TphQGIA8JgwNNd0iYo
SESSION_SECRET=une_phrase_secrete_longue
EMAIL_USER=votre_email_gmail
EMAIL_PASS=votre_mot_de_passe_app
